
body * {
    margin-left: 15%;
    margin-right: 20%;
}

th{
    border-color: black;
    background-color: darkgrey;
    min-width:200px;
}

td {
    min-width:190px;   
    
}

#lista{
    vertical-align: middle;
}

#mensajes{
    margin-left: 10px;
}


#tableContainer *{
    margin-left: -20%;
    margin-right: 20%;
}

.btn{
    width:300px;
    margin-left:200px;
}

.jumbotron{
    border-radius: 4px;
    padding-left:50px;
    padding-right:50px;
    min-width: 600px;
}